<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>codevate - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css">
</head>

<body>
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full">
        <div>
            <img class="mx-auto h-12 w-auto" src="/images/codevate.png" alt="codevate"/>

            {% if app.user %}
                <h2 class="text-center text-3xl leading-9 font-extrabold text-gray-900">
                    Welcome {{ app.user.name }}!
                </h2>

                <div class="flex justify-between mt-3">
                    <div>
                        <a href="/" class="text-sm text-indigo-600 underline">Home</a>
                    </div>
                    <div>
                        <a href="/messages" class="text-sm text-indigo-600 underline">Sent Messages</a>
                    </div>
                    <div>
                        <a href="/logout" class="text-sm text-indigo-600 underline">Logout</a>
                    </div>
                </div>
            {% endif %}

            <div class="mt-6">
                {% for message in app.flashes('success') %}
                    <div class="shadow-lg rounded-md bg-green-50 p-4">
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <svg class="h-5 w-5 text-green-400" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd"
                                          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                          clip-rule="evenodd"/>
                                </svg>
                            </div>
                            <div class="ml-3">
                                <p class="text-sm leading-5 font-medium text-green-800">
                                    {{ message }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% if errors is defined and errors|length > 0 %}
                    <div class="rounded-md bg-red-50 p-4">
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"/>
                                </svg>
                            </div>
                            <div class="ml-3">
                                <h3 class="text-sm leading-5 font-medium text-red-800">
                                    There were errors with your submission
                                </h3>
                                <div class="mt-1 text-sm leading-5 text-red-700">
                                    <ul class="list-disc pl-5">
                                        {% for error in errors %}
                                        <li class="mt-1">
                                            {{ error.message }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% block scripts %}{% endblock %}
</body>

</html>